mixin video(item)
      h4=item.title 
            ul
                li #{item.rating} / 5
                li #{item.comments} comments.
                li Posted #{item.createdAt}
                li #{item.views} views.
                li id: #{item.id}