mixin video(item)
    h4
        a(href=`/videos/${item.id}`)=item.title
    ul
        li #{item.rating} / 5
        li #{item.comments} comments.
        li Posted #{item.createdAt}
        li #{item.views} #{item.views === 1 ? "view" : "views"}